/*Let's separate the footer element from the content above it.
Target the footer element and apply a top margin of 50 pixels.*/

header {
    padding: 20px 0 25px;
    border-bottom: solid orange 10px;
}
.intro {
    padding: 1rem;
}