* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  padding: 0;
  margin: 0;
}
header {
  background-color: #294969;
  color: ghostwhite;
  padding: 0.5em 1em;
}
img {
  width: 250px;
  height: auto;
  margin: 0 1.5em 1em 0;
}
h1 {
  font-size: 1.25em;
  margin-top: 1.5em;
}
section {
  padding: 1.5rem 1rem;
  background-color: azure;
}
footer {
  padding: 1em;
}