/* .hide */
/* section a */
/* ul li */

* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
header {
    height: 25vh;
    background-color: #294969;
    color: ghostwhite;
    padding: 10px 15px;

    border-width: 12px;
    border-style: solid;
    border-color: #ffa949;
    border-bottom-color: #cf7919;

    margin: -8px -8px 20px;
}
.hide {
    display: none;
}
section a {
    display: block;
    background-color: tomato;
    width: 300px;
}
ul li {
    display: inline-block;
    width: 30%;
    padding: 20px 40px;
    background-color: yellow;
    text-align: center;
}
section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: dotted 2px #666;
    background-color: azure;
}
aside img, #bio {
    width: 100%;
    max-width: 600px;
}
#bio {
    padding: 2rem;
    background-color: mistyrose;
    border: solid 5px tomato;
}
footer {
    width: 200px;
    padding: 4px;
    border: solid 1px #ffa949;
    margin: 30px auto 15px;
    color: #294969;
    font-size: .8rem;
    text-align: center;
}